<span class="infopage">Login success :
</br>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>Full Name:</strong> <%= @user.full_name  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>Address:</strong> <%= @user.address  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>City:</strong> <%= @user.city  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>State:</strong <%= @user.state  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>Country:</strong> <%= @user.country  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>Zip Code:</strong> <%= @user.zip_code  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong>Email:</strong> <%= @user.email  %>
</br>
<hr>
<!-- ________________________________________________________________________________ -->
<strong><h3>Phones List: </h3></strong>
  <ul>
    <li>
      <%= @user.phones.map { |phones| phones.number}.join("</li><li>").html_safe%>
    </li>
  </ul>
<form action="/welcome/logout" method="get">
  <input type = "submit" value = "Logout"/>
</form>
</span>
